<h1>Eat-Da-Burger!</h1>


<h2>Burgers that have not been devoured!</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Make a Burger</h2>

<form class="create-form" action="/api/burger" method="POST">

    <div class="form-group">
        <label for="bur">Burger Name:</label>
        <input type="text" id="bur" name="name">
    </div>

    <button type="submit">Create Burger</button>
    
</form>